@{
    ViewData["Title"] = "Portfolio of Sangeeth Nandakumar | Technology Analyst";
    ViewData["Description"] = "Experienced MTA-certified .NET professional with 5+ years of enterprise SSE & Technology Analyst experience. Proficient in C# and JavaScript, with expertise in React, Redux, and WebAPIs. Worked on many enterprice applications and microservices partucularly on healthcare domain. Author of numerous open source projects, packages and tech blogs.";
}

<style>

    .section {
        padding: 60px 0;
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 30px;
        color: #333;
    }

    h2 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        color: #555;
    }

    .project-item {
        margin-bottom: 30px;
    }

        .project-item img {
            max-width: 100%;
            height: auto;
        }

    .skill-list {
        margin-bottom: 30px;
    }

        .skill-list li {
            display: inline-block;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 5px 10px;
            background-color: deepskyblue;
            color: #fff;
            border-radius: 5px;
            font-size: 14px;
        }
</style>



<section style="margin-top: 100px" class="section">
    <div class="container">
        <div class="row">
            <partial name="_Author" />
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <h2>My Interests / Projects</h2>
        <div class="row">
            <article class="col-md-4 project-item">
                <img src="@CDNRoot.PROJECT/portfolio/projects.webp" alt="Project 1">
                <h4 class="mt-4">100+ Projects Authored</h4>
                <p>
                    I have developed numerous productive projects and <u>open-sourced many on GitHub</u>. Check out my portfolio with over 107 public repositories and counting!
                </p>
                <div class="social-links">
                    <a href="https://github.com/sangeethnandakumar" aria-label="GitHub account of Sangeeth Nandakumar" target="_blank" class="btn btn-social btn-linkedin">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;View My Projects
                    </a>
                </div>
            </article>
            <article class="col-md-4 project-item">
                <img src="@CDNRoot.PROJECT/portfolio/packages.webp" alt="Project 1">
                <h4 class="mt-4">10+ Packages Authored</h4>
                <p>
                    I have developed open-source .NET NuGet packages for enhanced productivity. My packages <u>have received a total of 15.8K+ downloads</u> on NuGet.org as of May 4th, 2023.
                </p>
                <div class="social-links">
                    <a href="https://github.com/sangeethnandakumar" aria-label="GitHub account of Sangeeth Nandakumar" target="_blank" class="btn btn-social btn-linkedin">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;View My Packages
                    </a>
                </div>
            </article>
            <article class="col-md-4 project-item">
                <img src="@CDNRoot.PROJECT/portfolio/blogs.webp" alt="Project 1">
                <h4 class="mt-4">10+ Published Blogs</h4>
                <p>
                    As a relatively new venture, I have authored numerous tech-related blogs covering a wide range of topics. My blogs currently receive <u>1.2K+ views per week on average</u> with global coverage.
                </p>
                <div class="social-links">
                    <a href="https://github.com/sangeethnandakumar" aria-label="GitHub account of Sangeeth Nandakumar" target="_blank" class="btn btn-social btn-linkedin">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;View My Blogs
                    </a>
                </div>
            </article>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>About Me</h2>
                <p>
                    I am an experienced MTA-certified .NET professional with 5+ years of enterprise SSE & Technology Analyst experience. I am proficient in C# and JavaScript, with expertise in React, Redux, and WebAPIs.
                </p>
                <p>
                    I have worked on many enterprise applications and microservices, particularly in the healthcare domain.
                </p>
                <p>
                    I am also the author of numerous open-source projects, packages, and tech blogs.
                </p>
                <br />
                <h4>Areas Of Interest</h4>
                <ul class="skill-list">
                    <li>Microservices</li>
                    <li>.NET Core</li>
                    <li>SQL Server</li>
                    <li>WebAPI</li>
                    <li>React + Redux</li>
                    <li>jQuery</li>
                    <li>Embedded Raspberry Pi</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Work Experience</h2>
                <ul>
                    <li>
                        <h4>Infosys</h4>
                        <p>Developer / Technology Analyst</p>
                        <p>
                            Infosys is a multinational corporation based in Bangalore, India. It provides technology consultation and is best known for its innovative solutions in software development, IT services, and talent pool.
                        </p>
                    </li>
                    <li>
                        <h4>Netrix LLC</h4>
                        <p>Developer / Senior Software Engineer</p>
                        <p>
                            Netrix LLC is a global technology company based in Chicago, Illinois. It offers innovative solutions in IT infrastructure, collaboration, security, cloud, and managed services to businesses worldwide.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <h2>Awards & Achievements</h2>
        <div class="row">
            <div class="col-md-12 project-item" id="cert">
                <center>
                    <img style="width: 85%; margin:30px" src="@CDNRoot.PROJECT/portfolio/criticaltaskfixcert.jpg" class="card-img-top" alt="Certificate Image">
                </center>
            </div>
            <div class="col-md-4 project-item" id="item1">
                <img src="@CDNRoot.PROJECT/portfolio/eom2020.png" alt="Employee of the Month 2020">
                <h4 class="mt-4">Employee of the Month - April 2020</h4>
                <p>
                    Awarded Employee of the Month for April 2020 by Netrix LLC
                </p>
            </div>
            <div class="col-md-4 project-item" id="item2">
                <img src="@CDNRoot.PROJECT/portfolio/eom2019.png" alt="Employee of the Month 2019">
                <h4 class="mt-4">Employee of the Month - May 2019</h4>
                <p>
                    Awarded Employee of the Month for May 2019 by Netrix LLC
                </p>
            </div>
            <div class="col-md-4 project-item" id="item3">
                <img src="@CDNRoot.PROJECT/portfolio/inno.png" alt="Innovation Appreciation">
                <h4 class="mt-4">Appreciation for Innovative Work</h4>
                <p>
                    Received appreciation for developing an automation tool for time logging while at Netrix LLC
                </p>
            </div>
        </div>
    </div>
</section>




<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 project-item">
                <h2>Certifications</h2>
                <div class="card" style="border-radius: 10px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
                    <img style="width: 150px; margin:30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/1280px-Microsoft_logo_%282012%29.svg.png" class="card-img-top" alt="Microsoft Logo">
                    <div class="card-body">
                        <h3>Microsoft Technology Associate (MTA)</h3>
                        <p>
                            MTA certifications are for individuals intending to build a career in desktop infrastructure, server infrastructure, or private cloud computing.
                        </p>
                        <h5 class="card-title">Granted on: March 2019</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Credential: <span style="color: skyblue;">wCNW3-4Smb</span></h6>
                        <div class="social-links">
                            <a href="https://verify.certiport.com" aria-label="Verify Certificate at Certiport" target="_blank" class="btn btn-social btn-linkedin">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;Verify Certificate at Certiport
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 project-item">
                <h2>My Hobby Projects</h2>
                <div class="card" style="border-radius: 10px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
                    <div class="card-body mt-3">
                        <h3>Raspberry Pi & Embedded Electronics</h3>
                        <p>
                            A hobby project based on Raspberry Pi to create a cozy temperature, humidity, and air flow auto-controlled artificial bird nest for an abandoned bird chick found in the backyard.
                            <br />
                            The electronic PCB was designed on Proteus, and the embedded coding runs on .NET Core.
                        </p>
                        <div class="social-links">
                            <a href="https://photos.app.goo.gl/QQbnfLHnDdYFXRxf6" aria-label="View more photos and videos of this project" target="_blank" class="btn btn-social btn-linkedin">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;View More Photos and Videos of This Project
                            </a>
                        </div>
                        <center class="mt-4">
                            <video width="374" height="665" controls>
                                <source src="@CDNRoot.PROJECT/portfolio/birdnest1.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            <video width="374" height="665" controls>
                                <source src="@CDNRoot.PROJECT/portfolio/birdnest2.mp4" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </center>
                    </div>
                </div>
            </div>
            <div class="col-md-12 project-item">
                <div class="card" style="border-radius: 10px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);">
                    <div class="card-body mt-3">
                        <h3>AudioLab Android App</h3>
                        <p>
                            A hobby project that is an Android application connecting with a PHP backend and MySQL database. The app brings short Malayalam comedy audio clips on demand, which can be shared via WhatsApp as a reply with a simple swipe.
                            <br />
                            The app was developed in 2018-2019 with Java.
                        </p>
                        <div class="social-links">
                            <a href="https://photos.app.goo.gl/9RgXRV9vTk5CyspF6" aria-label="View more photos and videos of this project" target="_blank" class="btn btn-social btn-linkedin">
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>&nbsp;&nbsp;&nbsp;View More Photos and Videos of This Project
                            </a>
                        </div>
                        <center class="mt-4">
                            <img style="width: 350px; margin:30px" src="@CDNRoot.PROJECT/portfolio/audiolab1.png" class="card-img-top" alt="AudioLab Android App Screenshot 1">
                            <img style="width: 350px; margin:30px" src="@CDNRoot.PROJECT/portfolio/audiolab2.png" class="card-img-top" alt="AudioLab Android App Screenshot 2">
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
