@inject CDNRoot cdnRoot;

<footer class="division footer" id="footer-4">
    <div class="container">
        <div class="row">          
            <div class="col-lg-3">
                <div class="mb-40 footer-info">
                    <img alt="footer-logo" src="@cdnRoot.SHARED/images/logos/twileloop-blogs-wide.png" class="footer-logo" width="235" height="38">
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xl-2 offset-xl-1">
                <div class="mb-40 footer-links">
                    <h6 class="h6-xl">Resources</h6>
                    <ul class="clearfix text-secondary foo-links">
                        <li><p class="p-md"><a href="@cdnRoot.TWILELOOP_PACKAGES">Packages</a></p></li>
                        <li><p class="p-md"><a href="/">Blogs</a></p></li>
                        <li><p class="p-md"><a href="@cdnRoot.YOUTUBE">CodeSwitch</a></p></li>
                    </ul>
                </div>
            </div>   
            <div class="col-lg-3 col-md-3 col-sm-6 col-xl-2">
                <div class="mb-40 footer-links">
                    <h6 class="h6-xl">Connect</h6>
                    <ul class="clearfix text-secondary footer-socials">
                        <li><a href="@cdnRoot.GITHUB" aria-label="GitHub account of Sangeeth Nandakumar"><span class="flaticon-github"></span>GitHub</a></li>
                        <br/>
                        <li><a href="@cdnRoot.LINKEDIN" aria-label="LinkedIn account of Sangeeth Nandakumar"><span class="flaticon-linkedin">LinkedIn</span></a></li>
                        <br />
                        <li><a href="@cdnRoot.INSTAGRAM" aria-label="Instagram account of Sangeeth Nandakumar"><span class="flaticon-instagram">Instagram</span></a></li>
                        <br />
                        <li><a href="@cdnRoot.YOUTUBE" aria-label="YouTube account of Sangeeth Nandakumar"><span class="flaticon-youtube"></span>YouTube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="mb-40 footer-links">
                    <h6 class="h6-xl">Reach Us</h6>
                    <ul class="clearfix text-secondary foo-links">
                        <li><p class="p-md"><a href="mailto:info@twileloop.com"><font style="color:cornflowerblue">For Enquires: </font><br />info@twileloop.com</a></p></li>
                        <li><p class="p-md"><a href="mailto:support@twileloop.com"><font style="color:cornflowerblue">For Support: </font><br />support@twileloop.com</a></p></li>
                    </ul>
                </div>
            </div>
        </div>

        <hr>
        <div class="bottom-footer">
            <div class="row align-items-center d-flex row-cols-1 row-cols-md-2">
                <div class="col">
                    <div class="footer-copyright">
                        <p>
                            © Copyright @(DateTime.Now.Year - 1)
                            - @DateTime.Now.Year Twileloop | All Rights Reserved
                        </p>
                    </div>
                </div>
                <div class="col">
                    <ul class="text-secondary bottom-footer-list text-end">
                        <li class="last-li"><p><a href="/sitemap.xml">Site Map</a></p></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>