@inject Twileloop.Repository.DataHandler DataHandler;
@inject CDNRoot cdnRoot;

<header id="header" class="header tra-menu navbar-dark">
    <div class="header-wrapper">
        <div class="wsmobileheader clearfix">
            <span class="smllogo"><img src="@cdnRoot.PROJECT/images/logo.webp" alt="mobile-logo" /></span>
            <a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
        </div>

        <div class="wsmainfull menu clearfix">
            <div class="wsmainwp clearfix">
                <div class="desktoplogo">
                    <a href="/" class="logo-black"><img src="@cdnRoot.PROJECT/images/logo.webp" alt="header-logo" /></a>
                </div>
                <div class="desktoplogo">
                    <a href="/" class="logo-white"><img src="@cdnRoot.PROJECT/images/logo.webp" alt="header-logo" /></a>
                </div>

                <nav class="wsmenu clearfix">
                    <ul class="wsmenu-list nav-stateblue-hover">

                        <li aria-haspopup="true">
                            <a href="#">Packages<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="https://packages.twileloop.com">Explore All Packages ➜</a>
                                </li>
                                @foreach (var package in DataHandler.GetAllPackages().Result.OrderBy(x => x.Name))
                                {
                                    <li aria-haspopup="true">
                                        <a href="@package.Url">
                                            @package.Name.Replace("Twileloop.", "")
                                            @if (package.IsBeta)
                                            {
                                                <span>BETA</span>
                                            }
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                        <li aria-haspopup="true">
                            <a href="#">About<span class="wsarrow"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true">
                                    <a href="/portfolio">Author</a>
                                </li>
                            </ul>
                        </li>
@* 
                        <li class="nl-simple" aria-haspopup="true">
                            <a href="https://packages.twileloop.com" class="btn btn-stateblue tra-grey-hover last-link">Explore Packages</a>
                        </li> *@
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
