@using Packages.Twileloop.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ViewData["Description"].ToString().TrimWithEllipse(150)">
    <title>@ViewData["Title"]</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="@CDNRoot.PROJECT/images/icons/favicon-96x96.png" type="image/x-icon">
    <link rel="icon" href="@CDNRoot.PROJECT/images/icons/favicon-32x32.png" type="image/x-icon">
    <link rel="icon" type="images/png" href="@CDNRoot.PROJECT/images/icons/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="images/png" href="@CDNRoot.PROJECT/images/icons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="images/png" href="@CDNRoot.PROJECT/images/icons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="images/png" href="@CDNRoot.PROJECT/images/icons/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="images/png" href="@CDNRoot.PROJECT/images/icons/favicon-128.png" sizes="128x128" />

    <!-- Apple Touch Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@CDNRoot.PROJECT/images/icons/apple-touch-icon-152x152.png" />

    <!-- Microsoft Tiles -->
    <meta name="application-name" content="Twileloop Packages" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-Tileimage" content="@CDNRoot.PROJECT/images/icons/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="@CDNRoot.PROJECT/images/icons/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="@CDNRoot.PROJECT/images/icons/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="@CDNRoot.PROJECT/images/icons/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="@CDNRoot.PROJECT/images/icons/mstile-310x310.png" />

    <!-- Google Chrome-->
    <meta name="theme-color" content="#FFFFFF">

    <!-- CSS Styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/atom-one-dark-reasonable.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">

    <!-- CUSTOM JSDELIVER CDN DELIVERY -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Merriweather:wght@400">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sangeethnandakumar/CDNRack@master/shared/css/menu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sangeethnandakumar/CDNRack@master/shared/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/sangeethnandakumar/CDNRack@master/shared/css/responsive.css">

    <!-- PLUGINS STYLESHEET -->
    <link id="effect" href="@CDNRoot.SHARED/css/dropdown-effects/fade-down.css" media="all" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/menu.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/magnific-popup.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/owl.carousel.min.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/owl.theme.default.min.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/animate.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/style.css" rel="stylesheet">
    <link href="@CDNRoot.SHARED/css/responsive.css" rel="stylesheet">

    <link href="/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="@CDNRoot.SHARED/css/theme.css">
    
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1753236641153411" crossorigin="anonymous"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2EEQ5SCYGP"></script>

</head>

    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-2EEQ5SCYGP');
    </script>
<body>

    <div class="page" id="page">
        <partial name="_Header" />
        @RenderBody();
        <partial name="_Footer" />
    </div>

    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>

    <!-- JS PLUGINS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js" integrity="sha512-rdhY3cbXURo13l/WU9VlaRyaIYeJ/KBakckXIvJNAQde8DgpOmE+eZf7ha4vdqVjTtwQt69bD2wH2LXob/LB7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <!-- CUSTOM JSDELIVER JS DELIVERY -->
    <script src="https://cdn.jsdelivr.net/gh/sangeethnandakumar/CDNRack@master/shared/js/menu.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/sangeethnandakumar/CDNRack@master/shared/js/theme.js"></script>

    <script>
        $(document).ready(function () {
            $('.table').DataTable();
        });
    </script>

</body>
</html>
